*
{
    box-sizing: border-box;
    margin: 0;
}

body
{
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

main
{
    background-color: rgb(235, 235, 235);
}

.container-main
{
    width: 100%;
    max-width: 1430px;
    padding: 0 15px;
    margin: 0 auto;
}

section
{
    margin-bottom: 40px;
}

button, input, input:active, input:focus, textarea
{
    border: 0;
    background-color: transparent;
    outline: 0;
}

.link-casual
{
    color: #dd0000;
    text-decoration: none;
}

.link-casual:hover
{
    text-decoration: underline;
    color: #dd0000;
}

p
{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

.title48, .title24
{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
}

.title48
{
    font-size: 48px;
}

.title24
{
    font-size: 24px;
}

.title48::after
{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    margin: 10px auto 0;
    background: #dd0000;
}

.link-img
{
    display: block;
    position: relative;
    height: 200px;
    background: linear-gradient(to top, rgb(255, 56, 56), rgb(255, 150, 150));
}

.link-img:hover img
{
    opacity: 0.6;
}

.link-img img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    transition: opacity .1s linear;
}

.link-small, .link-medium, .bestmemes-title
{
    display: block;
    margin: 5px 0 15px 0;
    color: #212529;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: color .1s linear;
}

.link-medium
{
    font-size: 20px;
}

.link-small:hover, .link-medium:hover, a
{
    color: #dd0000;
}

.cross
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
}

.cross:hover
{
    cursor: pointer;
}

.cross::before, .cross::after
{
    position: absolute;
    content: "";
    display: block;
    height: 4px;
    width:inherit;
    background-color: #212529;
}

.cross::before
{
    transform: rotate(45deg);
}

.cross::after
{
    transform: rotate(-45deg);
}

.nav-filler
{
    display: none;
}

.toggle
{
    width: 50px;
    height: 50px;
    display: none;
    flex-direction: column;
    justify-content: center;
    z-index: 60;
}

.toggle:hover
{
	cursor: pointer;
}

.toggle.active .toggle-item
{
    background-color: transparent;
}

.toggle.active .toggle-item::before
{
    bottom: 0;
    transform: rotate(45deg);
}

.toggle.active .toggle-item::after
{
    top: 0;
    transform: rotate(-45deg);
}

.toggle-item, .toggle-item::before, .toggle-item::after
{
    position: absolute;
    width: inherit;
    height: 5px;
    background-color: rgb(235, 235, 235);
    transition: transform .1s linear;
}

.toggle-item::before, .toggle-item::after
{
    content: "";
}

.toggle-item::before
{
    bottom: 14px
}

.toggle-item::after
{
    top: 14px;
}

#dark_bg
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.400);
    z-index: 10;
}

.log
{
    display: none;
    position: fixed;
    width: 400px;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: rgb(235, 235, 235);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    z-index: 100;
}

.log input, .log input, .log input
{
    background-color: rgb(250, 250, 250);
}

.log form
{
    display: flex;
    flex-wrap: wrap;
}

.log form input, #toLeave, #toClose
{
    width:100%;
    padding: 10px 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#toReg, #toLog
{
    display: block;
    margin: 0 auto;
}

header
{
    background-color: #2e2e2e;
    width: 100%;
    height: 100px;
    padding: 15px 0;
    z-index: 50;
}

header .container-main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-second
{
    display: none;
}

.nav
{
    display: flex;
}

.notlogged #logout
{
    display: none;
}

.logged #login
{
    display: none;
}

.nav a, .nav button
{
    display: block;
    width: 150px;
    height: 47px;
    padding: 10px 0;
    background-color: rgb(97, 97, 97);
    border-radius: 30px;
    text-transform: uppercase;
    margin-left: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: rgb(235, 235, 235);
    transition: background-color .1s linear,
                box-shadow .1s linear;
                
}

.nav a:hover, .nav button:hover
{
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 15px black;
    color: rgb(97, 97, 97);
}

.nav button
{
    width: 50px;
    padding: 0;
    border-radius: 50%;
    line-height: 0;
    font-size: 24px;
}

#aside-left, #aside-right
{
    background-color: rgb(168, 168, 168);
    width: 250px;
}

main
{
    display: flex;
    width: 100%;
}

.content
{
    display: flex;
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(235, 235, 235);
}

.content-item
{
    padding: 0 20px;
    width: 75%;
    border-right: 1px rgb(216, 216, 216) solid
}

.content-item:first-child
{
    padding-left: 0;
}

.content-item:last-child
{
    border: 0;
    width: 25%;
    padding-right: 0;
}

.carousel-item img
{
    width: 100%;
    height: auto;
}

.bestmemes img
{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: 50% 50%;
}

.trends-item
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.trends-item-item
{
    width: 48%;
}

.lastnews
{
    margin-bottom: 40px;
}

.lastnews .link-small
{
    margin: 0;
}

.content-inner
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content-inner-item
{
    width: 30%;
}

.meme
{
    background-color: rgb(250, 250, 250);
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}

.meme-title
{
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 5px 0;
}

.meme-img, .meme-video
{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    max-height: 700px;
}

.meme-info
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    line-height: 0;
}

.meme-info .link-medium
{
    margin: 0;
}

.far.fa-heart, .fas.fa-heart
{
    transition: color .1s linear;
}

.btn-like:hover .far.fa-heart, .fas.fa-heart
{
    color: #dd0000;
}

.adviceform
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form-item
{
    display: flex;
    flex-wrap: wrap;
    width: 48%;
}

.form-item:last-child
{
    width:100%;
    margin-top: 20px;
}

.form-item input, .form-item textarea
{
    background-color: rgb(235, 235, 235);
    padding: 20px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.164);
}

.form-item input
{
    width: 100%;
    margin-bottom: 20px;
}

.form-item input:last-child
{
    margin-bottom: 0;
}

.form-item input[type="submit"], .log form input[type="submit"], #toLeave, #toClose
{
    padding: 5px;
    box-shadow: none;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    background-color: rgb(97, 97, 97);
    color: rgb(235, 235, 235);
    font-weight: 600;
    text-transform: uppercase;
    transition: background-color .1s linear,
                box-shadow .1s linear,
                transform .1s linear;
}

#toLeave, #toClose
{
    width: 160px;
    height: 48px;
}

.form-item input[type="submit"]:hover, .log form input[type="submit"]:hover, #toLeave:hover, #toClose:hover
{
    background-color: rgb(235, 235, 235);
    color: rgb(97, 97, 97);
    border: 3px rgb(97, 97, 97) solid;
}

.new-inner-text
{
    font-size: 16px;
    font-weight: 500;
}

.new-inner img
{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 20px
}

footer
{
    background-color: #000000d0;
    width: 100%;
    padding: 10px 0;
    user-select: none;
}

footer .container-main
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-item
{
    width: 50%;
}

.footer-item:last-child
{
    text-align: right;
}

.soclink
{
    color: rgb(156, 156, 156);
    font-size: 24px;
    margin-left: 5px;
    transition: color .1s linear;
}

.soclink:hover
{
    color: rgb(235, 235, 235);
    text-shadow: 0 0 5px black;
}

footer p
{
    margin: 0;
    color: rgb(235, 235, 235);
}

